obj
/DiskCryptorHelper/DiskCryptorHelper/bin/Debug/DiskCryptorTool.pdb
/DiskCryptorHelper/DiskCryptorHelper/bin/Debug/DiskCryptorTool.exe.config
/DiskCryptorHelper/DiskCryptorHelper/bin/Debug/sD.WPF.MessageBox.dll
/DiskCryptorHelper/DiskCryptorHelper/bin/Debug/sD.WPF.MessageBox.pdb
bin
*.suo
/ClipboardListener/_ReSharper.ClipboardListener/ProjectModel/ProjectModel.dat
/ClipboardListener/_ReSharper.ClipboardListener
/ClipboardListener/_UpgradeReport_Files/UpgradeReport_Plus.gif
/ClipboardListener/_UpgradeReport_Files/UpgradeReport_Minus.gif
/ClipboardListener/_UpgradeReport_Files/UpgradeReport.xslt
/ClipboardListener/_UpgradeReport_Files/UpgradeReport.css
Backup
SpeedCamUpd
/ClipboardListener/.vs/ClipboardListener/v15/Server/sqlite3
/DiskCryptorHelper/DiskCryptorHelper/bin/Debug/DiskCryptorTool.exe
/ColorMixer/
/DUMeterMZ/.vs/DUMeterMZ/v15/Server/sqlite3/db.lock
/DUMeterMZ/.vs/DUMeterMZ/v15/Server/sqlite3/storage.ide
/MessageBox/WPFMessageBoxTestWinForms/TestWPFMessageBox_WinForms.csproj.vspscc
/MessageBox/WPFMessageBoxTestWPF/TestWPFMessageBox_WPF.csproj.vspscc
/MessageBox/WPFMessageBox.vssscc
/MessageBox/WPFMessageBox/WPFMessageBox.csproj.vspscc
/RadexOneDemo/Data/Total- 162912, From- 2019-03-14 12-02-21, To- 2019-03-15 10-42-43.hist
/YouTubeDownload/.vs/YouTubeDownload/v15/Server/sqlite3
/Ruler/.vs/Ruler/v15/Server/sqlite3
/Ruler/.vs/MeasureTape/v15/Server/sqlite3
/MeasuringTape/.vs/MeasuringTape/v16/Server/sqlite3
/MeasuringTape/RulerWPF/.vs/RulerWPF/v15/Server/sqlite3
/RulerWPF/.vs/RulerWPF/v15/Server/sqlite3
/Binaries/app.publish/DUMeterMZ.exe
Binaries/log.mdb
/Binaries/DUMeterMZ.config
/Binaries/DUMeterMZ.config.xml
/Binaries/log.mdb
/Binaries/log.ldb
/Binaries/MeditationStopWatch.mz
/MeditationStopWatch/.vs/MeditationStopWatch/v15/Server/sqlite3/storage.ide-shm
/MeditationStopWatch/.vs/MeditationStopWatch/v15/Server/sqlite3/storage.ide-wal
Binaries/log.mdb
MeditationStopWatch/.vs/MeditationStopWatch/v15/Server/sqlite3/storage.ide
Binaries/log.mdb
/Binaries/YouTubeDownload/YouTubeDownload.pdb
MessageBox/Binaries/sD.WPF.MessageBox.dll
MessageBox/Binaries/sD.WPF.MessageBox.pdb
/MessageBox/Binaries/MZ.WPF.MessageBox.pdb
MessageBox/Binaries/MZ.WPF.MessageBox.dll
/DiskCryptorHelper/DiskCryptorHelper/Images/dcrypt.res
/YouTubeDownload/.vs/config/applicationhost.config
/DiskMeterMZ/UpgradeLog.htm
/CUDA_CSharp
