obj
/DiskCryptorHelper/DiskCryptorHelper/bin/Debug/DiskCryptorTool.pdb
/DiskCryptorHelper/DiskCryptorHelper/bin/Debug/DiskCryptorTool.exe.config
/DiskCryptorHelper/DiskCryptorHelper/bin/Debug/sD.WPF.MessageBox.dll
/DiskCryptorHelper/DiskCryptorHelper/bin/Debug/sD.WPF.MessageBox.pdb
bin
*.suo
/ClipboardListener/_ReSharper.ClipboardListener/ProjectModel/ProjectModel.dat
/ClipboardListener/_ReSharper.ClipboardListener
/ClipboardListener/_UpgradeReport_Files/UpgradeReport_Plus.gif
/ClipboardListener/_UpgradeReport_Files/UpgradeReport_Minus.gif
/ClipboardListener/_UpgradeReport_Files/UpgradeReport.xslt
/ClipboardListener/_UpgradeReport_Files/UpgradeReport.css
Backup
SpeedCamUpd
/ClipboardListener/.vs/ClipboardListener/v15/Server/sqlite3
/DiskCryptorHelper/DiskCryptorHelper/bin/Debug/DiskCryptorTool.exe
/ColorMixer/
/DUMeterMZ/.vs/DUMeterMZ/v15/Server/sqlite3/db.lock
/DUMeterMZ/.vs/DUMeterMZ/v15/Server/sqlite3/storage.ide
/MessageBox/WPFMessageBoxTestWinForms/TestWPFMessageBox_WinForms.csproj.vspscc
/MessageBox/WPFMessageBoxTestWPF/TestWPFMessageBox_WPF.csproj.vspscc
/MessageBox/WPFMessageBox.vssscc
/MessageBox/WPFMessageBox/WPFMessageBox.csproj.vspscc
/RadexOneDemo/Data/Total- 162912, From- 2019-03-14 12-02-21, To- 2019-03-15 10-42-43.hist
/YouTubeDownload/.vs/YouTubeDownload/v15/Server/sqlite3
/Ruler/.vs/Ruler/v15/Server/sqlite3
/Ruler/.vs/MeasureTape/v15/Server/sqlite3
/MeasuringTape/.vs/MeasuringTape/v16/Server/sqlite3
/MeasuringTape/RulerWPF/.vs/RulerWPF/v15/Server/sqlite3
/RulerWPF/.vs/RulerWPF/v15/Server/sqlite3
/Binaries/app.publish/DUMeterMZ.exe
Binaries/log.mdb
/Binaries/DUMeterMZ.config
/Binaries/DUMeterMZ.config.xml
/Binaries/log.mdb
/Binaries/log.ldb
/Binaries/MeditationStopWatch.mz
/MeditationStopWatch/.vs/MeditationStopWatch/v15/Server/sqlite3/storage.ide-shm
/MeditationStopWatch/.vs/MeditationStopWatch/v15/Server/sqlite3/storage.ide-wal
Binaries/log.mdb
MeditationStopWatch/.vs/MeditationStopWatch/v15/Server/sqlite3/storage.ide
Binaries/log.mdb
/Binaries/YouTubeDownload/YouTubeDownload.pdb
MessageBox/Binaries/sD.WPF.MessageBox.dll
MessageBox/Binaries/sD.WPF.MessageBox.pdb
/MessageBox/Binaries/MZ.WPF.MessageBox.pdb
MessageBox/Binaries/MZ.WPF.MessageBox.dll
/DiskCryptorHelper/DiskCryptorHelper/Images/dcrypt.res
/YouTubeDownload/.vs/config/applicationhost.config
/DiskMeterMZ/UpgradeLog.htm
/CUDA_CSharp
/DiskCryptorHelper/.vs/DiskCryptorHelper/v16/Server/sqlite3
/DashCamGPSView/.vs/DashCamGPSView/v16/Server/sqlite3
/DashCamGPSView/.vs/DashCamGPSView/DesignTimeBuild/.dtbcache
/Binaries/DashCamGPSView/DashCamGPSView.pdb
/Binaries/DashCamGPSView/GPSDataParser.pdb
/DUMeterMZ/.vs/DUMeterMZ/v16/Server/sqlite3/db.lock
/DUMeterMZ/.vs/DUMeterMZ/v16/Server/sqlite3/storage.ide
/Binaries/DashCamGPSView
/YouTubeDownload/.vs/YouTubeDownload/v16/Server/sqlite3
/MeditationStopWatch/.vs/MeditationStopWatch/v16/Server/sqlite3
/DesktopManager/.vs/DesktopManager/v16/Server/sqlite3
/RulerWPF/.vs/RulerWPF/v16/Server/sqlite3
/CashFlowGame101/.vs/CashFlowGame101/v16/Server/sqlite3
/MeditationStopWatch/packages/WindowsAPICodePack-Core.1.1.1
/MeditationStopWatch/packages/WindowsAPICodePack-Shell.1.1.1
/WinIRRemote/.vs/WinIRRemote/v16/Server/sqlite3
/RadexOneDemo/.vs/RadexOneDemo/v16/Server/sqlite3
/DUMeterMZ/packages
/Binaries/SmartBackup.Config.xml
/Binaries/SimpleBackup.Config.xml
/Binaries/PlaybackSoundSwitch.exe
/BlueMaestro/Binaries/CommonMZ.exe
/BlueMaestro/Binaries/Common.MkZ.exe
/BlueMaestro/Binaries/Microsoft.WindowsAPICodePack.dll
/BlueMaestro/Binaries/Microsoft.WindowsAPICodePack.Shell.dll
/BlueMaestro/Binaries/Framework.MkZ.exe
/Binaries/MediaPlayer.MkZ/MediaPlayerMkZ.exe
/Binaries/MediaPlayer.MkZ/MediaPlayerMulti.exe
/Binaries/MediaPlayer.MkZ/Microsoft.WindowsAPICodePack.dll
/Binaries/MediaPlayer.MkZ/Microsoft.WindowsAPICodePack.Shell.dll
/.vs/.NET-Projects/v16
/Binaries/DUMeterMZ/app.publish
/Binaries/YouTubeDownload/Engine
/RulerWPF/.vs/RulerWPF/FileContentIndex/6c2ecf55-ab9d-499b-acb9-c0d0820a052c.vsidx
/RulerWPF/.vs/RulerWPF/FileContentIndex/c85d419a-68ff-431b-8ac6-1e7b3bc52c3b.vsidx
/RulerWPF/.vs/RulerWPF/FileContentIndex/read.lock
/RulerWPF/.vs/RulerWPF/FileContentIndex/4ee5f15a-2f49-4aec-ac9f-7fa6507c9169.vsidx
/AudioSwitch/.vs/AudioDeviceSwitch/FileContentIndex
/AudioSwitch/AnalysisReport.sarif
/AudioSwitch/upgrade-assistant.clef
/RulerWPF/.vs/ProjectEvaluation/rulerwpf.metadata.v7.bin
/RulerWPF/.vs/ProjectEvaluation/rulerwpf.projects.v7.bin
/RulerWPF/.vs/RulerWPF/DesignTimeBuild/.dtbcache.v2
/RulerWPF/.vs/RulerWPF/FileContentIndex/ebaec4a8-be77-4d09-baf4-539cc55d916a.vsidx
/RulerWPF/.vs/RulerWPF/v17/.futdcache.v2
/RulerWPF/.vs/RulerWPF/FileContentIndex/1044929a-a14c-42db-999e-4d883b11e609.vsidx
/.gitignore
/.gitignore
/.gitignore
