obj
/DiskCryptorHelper/DiskCryptorHelper/bin/Debug/DiskCryptorTool.pdb
/DiskCryptorHelper/DiskCryptorHelper/bin/Debug/DiskCryptorTool.exe.config
/DiskCryptorHelper/DiskCryptorHelper/bin/Debug/sD.WPF.MessageBox.dll
/DiskCryptorHelper/DiskCryptorHelper/bin/Debug/sD.WPF.MessageBox.pdb
bin
*.suo
/ClipboardListener/_ReSharper.ClipboardListener/ProjectModel/ProjectModel.dat
/ClipboardListener/_ReSharper.ClipboardListener
/ClipboardListener/_UpgradeReport_Files/UpgradeReport_Plus.gif
/ClipboardListener/_UpgradeReport_Files/UpgradeReport_Minus.gif
/ClipboardListener/_UpgradeReport_Files/UpgradeReport.xslt
/ClipboardListener/_UpgradeReport_Files/UpgradeReport.css
Backup
SpeedCamUpd
/ClipboardListener/.vs/ClipboardListener/v15/Server/sqlite3
/DiskCryptorHelper/DiskCryptorHelper/bin/Debug/DiskCryptorTool.exe
/ColorMixer/
/DUMeterMZ/.vs/DUMeterMZ/v15/Server/sqlite3/db.lock
/DUMeterMZ/.vs/DUMeterMZ/v15/Server/sqlite3/storage.ide
