<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MZ.Media.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PlaybackSoundSwitch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <MZ.Media.Properties.Settings>
            <setting name="PopupLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="MainLocation" serializeAs="String">
                <value>100, 200</value>
            </setting>
            <setting name="UpdateNeeded" serializeAs="String">
                <value>True</value>
            </setting>
        </MZ.Media.Properties.Settings>
        <PlaybackSoundSwitch.Properties.Settings>
            <setting name="PopupLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
        </PlaybackSoundSwitch.Properties.Settings>
    </userSettings>
</configuration>
