<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesktopManagerUX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DesktopManagerUX.Properties.Settings>
            <setting name="AppTitle0x0" serializeAs="String">
                <value />
            </setting>
            <setting name="AppTitle0x1" serializeAs="String">
                <value />
            </setting>
            <setting name="AppTitle1x0" serializeAs="String">
                <value />
            </setting>
            <setting name="AppTitle1x1" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
        </DesktopManagerUX.Properties.Settings>
    </userSettings>
</configuration>